<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Everything’s a stream. An introduction to RxJS and avoiding anti-patterns</title>
        <% if (htmlWebpackPlugin.options.env === 'production') { %>
        <link href="http://fonts.googleapis.com/css?family=Voltaire|Open+Sans:300,400,600" rel="stylesheet" type="text/css">
        <% } %>
    </head>
    <body>
        <article>
             <section class="borderless">
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                </span>
                <h1 class="vintage">Everything’s a stream.</h1>
                <h3>An introduction to RxJS and avoiding anti-patterns</h3>
            </section>
            <section class="borderless" data-bespoke-state="">
                <div class="me profile-pic"></div>
                <p>@pheasley</p>
                <img src="images/pageup-big.png" alt="PageUp Logo" class="pageup-logo">
            </section>
            <section data-bespoke-state="invert">
                <span class="chapter-number"><span>1</span></span>
                <h2>What is RxJS?</h2>
            </section>
            <section>
                <h3>Push vs. Pull</h3>
            </section>
            <section>
                <h3>Observable + Operations + Observer + Scheduler = RxJS</h3>
            </section>
            <section>
                <h3>Observable factories</h3>
            </section>
            <section>
                <h3>Observable.fromEvent</h3>
            </section>
            <section>
                <h2>Thanks.</h2>
                <div class="footnote">
                    <p><i class="fa fa-twitter"></i> <a href="https://twitter.com/pheasley">@pheasley</a></p>
                    <p><i class="fa fa-globe"></i> <a href="http://phdesign.com.au/presentation-serverless">phdesign.com.au/presentation-serverless</a></p>
                </div>
            </section>
        </article>

    </body>
</html>
