<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Everything’s a stream. An introduction to RxJS and avoiding anti-patterns</title>
        <% if (htmlWebpackPlugin.options.env === 'production') { %>
        <link href="http://fonts.googleapis.com/css?family=Voltaire|Open+Sans:300,400,600" rel="stylesheet" type="text/css">
        <% } %>
    </head>
    <body>
        <article>
             <section>
                <h1>Everything’s a stream.</h1>
                <h3>An introduction to RxJS and avoiding anti-patterns</h3>
            </section>
            <section>
                <div class="me profile-pic"></div>
                <p>@pheasley</p>
                <img src="images/pageup-big.png" alt="PageUp Logo" class="pageup-logo">
            </section>
            <section>
                <h2>What is RxJS?</h2>
            </section>
            <section data-bespoke-state="bipolar">
                <div class="col align-right">
                    <h3>ES6</h3>
                </div>
                <div class="col align-left">
                    <pre><code class="language-javascript">getDataFromNetwork()
  .filter(s => s != null)
  .map(s => s + 'transformed')
  .forEach(s => console.log(`next => ${s}`))</code></pre>
                </div>
                <div class="col align-right">
                    <h3>ES6</h3>
                </div>
                <div class="col align-left">
                    <pre><code class="language-javascript">getDataFromNetwork()
  .filter(s => s != null)
  .map(s => s + 'transformed')
  .forEach(s => console.log(`next => ${s}`))</code></pre>
                </div>
            </section>
            <section>
                <h3>RxJS</h3>
                <pre data-line="3">
                    <code class="language-javascript">
getDataFromNetwork()
  .filter(s => s != null)
  .map(s => s + 'transformed')
  .subscribe(s => console.log(`next => ${s}`))</code>
                </pre>
            </section>
            <section>
                <h3>Push vs. Pull</h3>
            </section>
            <section>
                <h3>Observable + Operations + Observer + Scheduler = RxJS</h3>
            </section>
            <section>
                <h3>Observable factories</h3>
            </section>
            <section>
                <h3>Observable.fromEvent</h3>
            </section>
            <section>
                <h2>Thanks.</h2>
                <div class="footnote">
                    <p><i class="fa fa-twitter"></i> <a href="https://twitter.com/pheasley">@pheasley</a></p>
                    <p><i class="fa fa-globe"></i> <a href="http://phdesign.com.au/presentation-serverless">phdesign.com.au/presentation-serverless</a></p>
                </div>
            </section>
        </article>

    </body>
</html>
